---
import AboutMenu from './AboutMenu.astro';
import ImageComp from './ImageComp.astro';
import ProjectsMenu from './ProjectsMenu.astro';
import MobileMenu from './MobileMenu.astro';

const currentPath = Astro.url.pathname;

function isActive(path: string): boolean {
  if (path === '/') {
    return currentPath === path;
  }
  return currentPath.startsWith(path);
}

const isHomePage = currentPath === '/';
const fillColor = isHomePage ? 'rgb(5,52,81)' : '#053451';
---

<div class="fixed top-0 w-full bg-white z-20">
  <header
  id="header"
  class={`header-content flex h-[4.7rem] w-full lg:h-[7.5rem] 2lg:h-[8rem] ${isHomePage ? 'bg-headerBG text-darkColor' : 'bg-headerBG text-[#053451] border border-t-0  border-x-0 border-b-[#0E3B57]'}`}
>
  <div class="containerw flex w-full items-center justify-between overflow-hidden">
    <div class="northernsky-logo left_header max-w-[12.6rem] lg:max-w-[20rem] 2lg:max-w-[21rem]">
      <a href="/">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 724 97"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <g transform="matrix(1.46534,0,0,4.75707,-4158.2,-88.4749)">
            <g transform="matrix(1.58662,0,0,0.488732,2854.71,-142.704)">
              <path
                d="M68.066,341.79L78.051,356.869L78.308,356.869L78.308,341.79L81.602,341.79L81.602,359.803L76.224,359.803L66.188,344.723L65.93,344.723L65.93,359.803L62.636,359.803L62.636,341.79L68.066,341.79ZM84.381,352.289L84.381,349.304C84.381,344.646 87.495,341.532 92.153,341.532L98.02,341.532C102.678,341.532 105.766,344.646 105.766,349.304L105.766,352.289C105.766,356.947 102.678,360.06 98.02,360.06L92.153,360.06C87.495,360.06 84.381,356.947 84.381,352.289ZM92.307,357.127L97.84,357.127C100.619,357.127 102.472,355.274 102.472,352.495L102.472,349.098C102.472,346.319 100.619,344.466 97.84,344.466L92.307,344.466C89.528,344.466 87.675,346.319 87.675,349.098L87.675,352.495C87.675,355.274 89.528,357.127 92.307,357.127ZM108.545,359.803L108.545,341.79L121.231,341.79C125.04,341.79 127.562,344.054 127.562,347.863C127.562,351.182 125.76,353.267 122.904,353.859L127.819,359.803L123.882,359.803L119.198,354.039L111.839,354.039L111.839,359.803L108.545,359.803ZM111.839,351.105L121.36,351.105C123.11,351.105 124.268,349.947 124.268,348.197L124.268,347.631C124.268,345.881 123.11,344.723 121.36,344.723L111.839,344.723L111.839,351.105ZM136.826,359.803L136.826,344.723L129.157,344.723L129.157,341.79L147.814,341.79L147.814,344.723L140.12,344.723L140.12,359.803L136.826,359.803ZM166.007,359.803L166.007,352.289L153.475,352.289L153.475,359.803L150.181,359.803L150.181,341.79L153.475,341.79L153.475,349.304L166.007,349.304L166.007,341.79L169.301,341.79L169.301,359.803L166.007,359.803ZM173.007,359.803L173.007,341.79L190.403,341.79L190.403,344.62L176.301,344.62L176.301,349.407L188.962,349.407L188.962,352.186L176.301,352.186L176.301,356.972L190.403,356.972L190.403,359.803L173.007,359.803ZM193.233,359.803L193.233,341.79L205.92,341.79C209.728,341.79 212.25,344.054 212.25,347.863C212.25,351.182 210.449,353.267 207.593,353.859L212.508,359.803L208.57,359.803L203.887,354.039L196.527,354.039L196.527,359.803L193.233,359.803ZM196.527,351.105L206.049,351.105C207.798,351.105 208.956,349.947 208.956,348.197L208.956,347.631C208.956,345.881 207.798,344.723 206.049,344.723L196.527,344.723L196.527,351.105ZM220.511,341.79L230.495,356.869L230.753,356.869L230.753,341.79L234.046,341.79L234.046,359.803L228.668,359.803L218.632,344.723L218.375,344.723L218.375,359.803L215.081,359.803L215.081,341.79L220.511,341.79ZM240.222,354.399C240.634,356.097 242.204,357.178 244.237,357.178L250.542,357.178C252.137,357.178 253.63,356.458 253.63,354.656C253.63,352.984 252.343,352.109 250.542,352.109L243.079,352.109C239.965,352.109 237.083,350.359 237.083,346.833C237.083,343.102 240.3,341.584 243.439,341.584L249.924,341.584C253.835,341.584 256.64,343.72 257.181,347.168L253.758,347.168C253.347,345.469 251.803,344.414 249.77,344.414L243.439,344.414C241.869,344.414 240.377,345.109 240.377,346.936C240.377,348.583 241.664,349.458 243.439,349.458L250.85,349.458C254.119,349.458 256.923,351.285 256.923,354.785C256.923,358.516 253.681,360.009 250.542,360.009L244.057,360.009C240.145,360.009 237.34,357.873 236.826,354.399L240.222,354.399ZM259.548,359.803L259.548,341.79L262.842,341.79L262.842,349.329L267.783,349.329L274.448,341.79L278.591,341.79L270.665,350.668L270.665,350.925L278.591,359.803L274.448,359.803L267.783,352.263L262.842,352.263L262.842,359.803L259.548,359.803ZM288.241,359.803L288.241,353.781L279.209,341.79L283.12,341.79L289.759,350.796L290.017,350.796L296.682,341.79L300.593,341.79L291.535,353.807L291.535,359.803L288.241,359.803ZM18.773,351.631L48.261,371.549L18.773,358.092L-10.714,371.549L18.773,351.631ZM18.773,340.837L48.261,360.755L18.773,347.299L-10.714,360.755L18.773,340.837ZM18.773,330.044L48.261,349.962L18.773,336.505L-10.714,349.962L18.773,330.044Z"
                style={`fill:${fillColor};`}></path>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="header-tags fontHeader flex hidden font-medium lg:flex lg:gap-x-7 2lg:gap-x-6">
      <a href="#" class={`active project-link header-tag px-4 py-2 2lg:rounded-[1rem] 2lg:px-5 `}>
        <span class="font-medium">Projects</span>
      </a>
      <a
        href="about"
        class={`active about-link header-tag px-4 py-2 2lg:rounded-[1rem] 2lg:px-5 ${isActive('/about') ? 'nav-active-link' : ''}`}
      >
        <span class="font-medium">About</span>
      </a>
      <a href="#" class="active media-link header-tag px-4 py-2 2lg:rounded-[1rem] 2lg:px-5">
        <span class="font-medium">Media</span>
      </a>
    </div>
    <div class="right_header flex h-full items-center">
      <div class="search_icon hidden h-6 w-6 lg:block">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 42 43"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <g transform="matrix(1,0,0,1,-14278.2,-130.547)">
            <path
              d="M14306.3,162.885C14303.4,164.932 14299.9,166.135 14296,166.135C14286.2,166.135 14278.2,158.162 14278.2,148.341C14278.2,138.52 14286.2,130.547 14296,130.547C14305.9,130.547 14313.8,138.52 14313.8,148.341C14313.8,152.92 14312.1,157.098 14309.3,160.253L14318.8,169.748C14319.5,170.52 14319.5,171.774 14318.8,172.547C14318,173.319 14316.7,173.319 14316,172.547L14306.3,162.885ZM14305.6,158.324C14308.2,155.806 14309.9,152.263 14309.9,148.341C14309.9,140.705 14303.7,134.506 14296,134.506C14288.4,134.506 14282.2,140.705 14282.2,148.341C14282.2,155.977 14288.4,162.176 14296,162.176C14299.3,162.176 14302.3,161.053 14304.6,159.174L14305.6,158.324Z"
              style={`fill:${fillColor}`}></path>
          </g>
        </svg>
      </div>
      <div class="get-in-touch-wrapper 2lg:ml-10">
        <a
          href="/contact"
          class={`  get-in-touch-button 
  font10 
  cursor-pointer 
  rounded-md 
  border-[1px] 
  px-[0.6rem] 
  py-[0.25rem] 
  font-medium 
  leading-none 
  tracking-tighter 
  transition-colors 
  duration-200
  ${
    isHomePage
      ? 'hover:border-darkColor hover:bg-darkColor hover:text-white'
      : 'hover:border-white hover:bg-white hover:text-darkColor'
  }
  md:py-[0.2rem] 
  lg:rounded-[0.6rem] 
  lg:border-[2px] 
  lg:px-3 
  lg:py-2 
  lg:leading-10 
  lg:tracking-tight`}
        >
          Get in Touch
        </a>
      </div>
      <div class="search_icon ml-4 h-5 w-5 md:h-7 md:w-7 lg:hidden lg:h-10 lg:w-10">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 42 43"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <g transform="matrix(1,0,0,1,-14278.2,-130.547)">
            <path
              d="M14306.3,162.885C14303.4,164.932 14299.9,166.135 14296,166.135C14286.2,166.135 14278.2,158.162 14278.2,148.341C14278.2,138.52 14286.2,130.547 14296,130.547C14305.9,130.547 14313.8,138.52 14313.8,148.341C14313.8,152.92 14312.1,157.098 14309.3,160.253L14318.8,169.748C14319.5,170.52 14319.5,171.774 14318.8,172.547C14318,173.319 14316.7,173.319 14316,172.547L14306.3,162.885ZM14305.6,158.324C14308.2,155.806 14309.9,152.263 14309.9,148.341C14309.9,140.705 14303.7,134.506 14296,134.506C14288.4,134.506 14282.2,140.705 14282.2,148.341C14282.2,155.977 14288.4,162.176 14296,162.176C14299.3,162.176 14302.3,161.053 14304.6,159.174L14305.6,158.324Z"
              style={`fill:${fillColor}`}></path>
          </g>
        </svg>
      </div>
      <div class="menu-wrapper header_side_menu ml-4 h-5 w-5 md:h-7 md:w-7 lg:h-6 lg:w-6 2lg:ml-12">
        <svg
          class="menu-icon"
          width="100%"
          height="100%"
          viewBox="0 0 46 28"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path class="top-line" d="M0,4L46,4L46,0L0,0Z" style={`fill:${fillColor};`}></path>
          <path class="bottom-line" d="M0,28L46,28L46,24L0,24Z" style={`fill:${fillColor};`}></path>
        </svg>
      </div>
      <path class="bottom-line" d="M0,28L46,28L46,24L0,24Z" style={`fill:${fillColor};`}></path>
    </div>

    <!-- <svg
          class="menu-icon"
          width="100%"
          height="100%"
          viewBox="0 0 46 28"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g class="menu-lines">
            <path d="M0,4h46M0,14h46M0,24h46" stroke="rgb(5,52,81)" stroke-width="4"></path>
          </g>
          <g class="close-lines">
            <path d="M4,4L42,24M4,24L42,4" stroke="white" stroke-width="4"></path>
          </g>
        </svg> -->
  </div>
</header>

<div class="projects-menu absolute z-50 w-full overflow-hidden">
  <ProjectsMenu />
</div>
<div class="about-menu absolute z-50 w-full overflow-hidden">
  <AboutMenu />
</div>
<div class="mobile-menu absolute z-50 w-full lg:hidden">
  <MobileMenu />
</div>
</div>

<style>
  /* .header-tag.active span {
    background-color: var(--color-tertiary);
    padding: 10px 20px;
    border-radius: 10px;
  } */

  .nav-active-link {
    background-color: #0e3b57;
    color: white;
  }
  .projects-menu {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.1s ease-in-out,
      opacity 0.1s ease-in-out;
  }

  .projects-menu.visible {
    visibility: visible;
    opacity: 1;
  }
  .about-menu {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.1s ease-in-out,
      opacity 0.1s ease-in-out;
  }

  .about-menu.visible {
    visibility: visible;
    opacity: 1;
  }

  .header-content {
    transition:
      background-color 0.1s ease-in-out,
      color 0.1s ease-in-out;
  }
  .header-content.menu-open {
    background-color: #053451; /* Use the same color as your projects menu background */
    color: white;
    border-bottom: 1px solid #166291;
  }
  .header-content.menu-open svg path {
    fill: white !important;
    transition: fill 0.1s ease-in-out;
  }
  .header-content.menu-open .project-link.active,
  .header-content.menu-open .about-link.active {
    /* Styles for when the menu is open and the button is active */
    background-color: #0e3b57;
    color: white;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
  /* top ight menu icon css */
  .menu-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .menu-icon .menu-lines {
    display: block;
  }

  .menu-icon .close-lines {
    display: none;
  }

  .menu-icon.open .menu-lines {
    display: none;
  }

  .menu-icon.open .close-lines {
    display: block;
  }

  .mobile-menu {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.1s ease-in-out,
      opacity 0.1s ease-in-out;
  }
  .mobile-menu.visible {
    visibility: visible;
    opacity: 1;
  }

  .menu-wrapper {
    cursor: pointer;
  }

  .menu-icon path {
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  /* Adjusted transforms to keep lines visible */
  .menu-icon.active .top-line {
    transform: translateY(8px) rotate(40deg);
  }

  .menu-icon.active .bottom-line {
    transform: translateY(-13px) rotate(-40deg);
  }
</style>

<script>
  const menuIcon = document.querySelector('.menu-icon');
  const menuWrapper = document.querySelector('.menu-wrapper');

  menuWrapper.addEventListener('click', () => {
    menuIcon.classList.toggle('active');
  });
  const projectsMenu = document.querySelector('.projects-menu');
  const projectLink = document.querySelector('.project-link');
  const aboutMenu = document.querySelector('.about-menu');
  const aboutLink = document.querySelector('.about-link');
  const headerContent = document.querySelector('.header-content');

  let isProjectMenuOpen = false;
  let isAboutMenuOpen = false;
  let timeoutId;

  function openProjectMenu() {
    clearTimeout(timeoutId);
    projectsMenu.classList.add('visible');
    aboutMenu.classList.remove('visible');
    headerContent.classList.add('menu-open');
    projectLink.classList.add('active');
    aboutLink.classList.remove('active');
    isProjectMenuOpen = true;
    isAboutMenuOpen = false;
  }
  function openAboutMenu() {
    clearTimeout(timeoutId);
    aboutMenu.classList.add('visible');
    projectsMenu.classList.remove('visible');
    headerContent.classList.add('menu-open');
    aboutLink.classList.add('active');
    projectLink.classList.remove('active');
    isAboutMenuOpen = true;
    isProjectMenuOpen = false;
  }

  function closeMenus() {
    timeoutId = setTimeout(() => {
      projectsMenu.classList.remove('visible');
      aboutMenu.classList.remove('visible');
      headerContent.classList.remove('menu-open');
      projectLink.classList.remove('active');
      aboutLink.classList.remove('active');
      isProjectMenuOpen = false;
      isAboutMenuOpen = false;
    }, 200);
  }

  projectLink.addEventListener('mouseover', openProjectMenu);
  projectLink.addEventListener('mouseout', closeMenus);

  aboutLink.addEventListener('mouseover', openAboutMenu);
  aboutLink.addEventListener('mouseout', closeMenus);

  projectsMenu.addEventListener('mouseover', () => {
    if (isProjectMenuOpen) {
      clearTimeout(timeoutId);
    }
  });
  aboutMenu.addEventListener('mouseover', () => {
    if (isAboutMenuOpen) {
      clearTimeout(timeoutId);
    }
  });

  projectsMenu.addEventListener('mouseout', closeMenus);
  aboutMenu.addEventListener('mouseout', closeMenus);

  // Remove any existing event listeners on other links
  document.querySelectorAll('.header-links-wrap a:not(.project-link):not(.about-link)').forEach((link) => {
    link.removeEventListener('mouseover', openProjectMenu);
    link.removeEventListener('mouseover', openAboutMenu);
    link.removeEventListener('mouseout', closeMenus);
  });

  // Top right menu icon
  // const menuIcon = document.querySelector('.menu-icon');
  const mobileMenu = document.querySelector('.mobile-menu');
  const body = document.body;

  function handleMobileMenu() {
    if (window.innerWidth < 1024) {
      const menuIconContainer = document.querySelector('.header_side_menu');

      menuIcon.addEventListener('click', () => {
        menuIcon.classList.toggle('open');
        menuIconContainer.classList.toggle('open');
        mobileMenu.classList.toggle('visible');
        headerContent.classList.toggle('menu-open');
        body.classList.toggle('mobile-menu-open');
      });
    }
  }
  handleMobileMenu();

  // Add event listener for window resize
  window.addEventListener('resize', handleMobileMenu);
</script>
